<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
      <div class="img-static">
          <img alt="fshzoneSmallStatic" src="{{ "/assets/img/projects/fshzoneSmall-static.png" | prepend: site.baseurl }}"/>
        </div>
      <div class="img-anim">
          <img alt="fshzoneSmallAnim" src="{{ "/assets/img/projects/fshzoneSmall-anim.gif" | prepend: site.baseurl }}"/>
      </div>
  </div>
  <div class="contents">
    <h3> fsh.zone </h3>
    <ul>
      <li> Unity AssetBundles</li>
      <li> SocketIO</li>
      <li> NodeJS</li>
      <li> SQLite</li>
    </ul>
    <p> 
        fsh zone is an online multiplayer fishing game, where you can hang out, catch fish, and chat with friends
        <br>
        <br>
        It consists of a client made in Unity, and a server which is a Node.js application using Socket.IO for communication
        <br>    
        <br>    
		fsh zone was the capstone project for my final year at AIE, 
		however a small core team (myself included) continued to work on the game 
		after the completion of our studies in an effort to determine its commercial viability. 
    </p>
    <a class="project-link" target="_blank" href="https://fsh.zone">Play it online</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
        <div class="img-static">
                <img alt="MopedMayhemStatic" src="{{ "/assets/img/projects/MopedMayhemSmall-static.png" | prepend: site.baseurl }}"/>
              </div>
            <div class="img-anim">
                <img alt="MopedMayhemAnim" src="{{ "/assets/img/projects/MopedMayhemSmall-anim.gif" | prepend: site.baseurl }}"/>
            </div>
  </div>
  <div class="contents-right">
    <h3> Moped Mayhem </h3>
    <ul>
      <li> Lead Programmer</li>
      <li> Unity Navigation (navmesh)</li>
      <li> Unity Physics</li>
      <li> Game AI</li>
    </ul>
    <p>
        Moped Mayhem was the capstone project for my first year at AIE, 
        with 9 people working on the project (3 artists, 3 designers and 3 programmers)
        of which I was the lead programmer
        <br>
        <br> 
            You are a delivery driver who owes a lot of money to the Mafia. 
            But, you're not going to let that get in the way of doing your job! 
            Try to deliver food around the city while avoiding the Mafia in this fast-paced, 
            chaotic action-racing game!
    </p>
    <a class="project-link" target="_blank" href="https://github.com/ChrispyDesign/MopedMayhem">Source Code</a>
    <a class="project-link" target="_blank" href="https://mopedmayhem.itch.io/moped-mayhem">Game</a>
  </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <div class="img-static">
            <img alt="MultithreadedGOAPSmallStatic" src="{{ "/assets/img/projects/MultithreadedGOAPSmall-static.png" | prepend: site.baseurl }}"/>
          </div>
        <div class="img-anim">
            <img alt="MultithreadedGOAPSmallAnim" src="{{ "/assets/img/projects/MultithreadedGOAPSmall-anim.png" | prepend: site.baseurl }}"/>
        </div>
    </div>
    <div class="contents">
      <h3> C++ Multithreaded GOAP </h3>
      <ul>
        <li> C++</li>
        <li> Multithreaded</li>
        <li> Goal Oriented Action Plan</li>
      </ul>
      <p> 
          The C++ Multithreaded GOAP is a multithreaded implementation of a Goal Oriented Action Plan
          <br>
          <br>
          My implementation of a multithreaded GOAP is able to run independantly of the main thread, and with a variable number of assigned threads.
          <br>
          This allows it to make larger or more plans over a longer period of time without impacting the main thread.
      </p>
      <a class="project-link" target="_blank" href="https://github.com/Cris-Bwls/Multithreaded-GOAP-CPP">Source Code</a>
    </div>
  </div>
<div class="user-projects">
    <div class="images-left">
        <div class="img-static">
            <img alt="PhysikStatic" src="{{ "/assets/img/projects/PhysikSmall-static.png" | prepend: site.baseurl }}"/>
          </div>
        <div class="img-anim">
            <img alt="PhysikAnim" src="{{ "/assets/img/projects/PhysikSmall-anim.gif" | prepend: site.baseurl }}"/>
        </div>
    </div>
    <div class="contents-right">
      <h3> Physik </h3>
      <ul>
        <li> C++</li>
        <li> 2D Physics</li>
        <li> Concave polygons</li>
      </ul>
      <p> 
          Physik is a C++ 2D physics library
          <br>
          <br>
          It features multisided convex polygons, utilising SAT.
          <br>
          These convex polygons are then stitched together to create concave polygons with working collisions.
      </p>
      <a class="project-link" target="_blank" href="https://github.com/Cris-Bwls/Physik">Source Code</a>
    </div>
</div>
<div class="user-projects">
        <div class="images-right">
            <div class="img-static">
                <img alt="ShellArtisteStatic" src="{{ "/assets/img/projects/ShellArtisteSmall-static.png" | prepend: site.baseurl }}"/>
              </div>
            <div class="img-anim">
                <img alt="ShellArtisteAnim" src="{{ "/assets/img/projects/ShellArtisteSmall-anim.gif" | prepend: site.baseurl }}"/>
            </div>
        </div>
        <div class="contents">
          <h3> Shell Artiste </h3>
          <ul>
            <li> Game Jam</li>
            <li> Team of 5</li>
            <li> Unity Navigation (navmesh)</li>
          </ul>
          <p> 
              Shell Artiste is a small game made over 2 days with a group of 5 people
              <br>
              <br>
              The aim of the game is to paint the map your colour.
              <br>
              Do this by bashing and crashing your opponent, 
              and recruit little minion turtles to assist you in your goal. 
          </p>
          <a class="project-link" target="_blank" href="https://github.com/Tory-Kruger/GameJam2019">Source Code</a>
        </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <div class="img-static">
            <img alt="LD45GhostLifeStatic" src="{{ "/assets/img/projects/LD45GhostLifeSmall-static.png" | prepend: site.baseurl }}"/>
          </div>
        <div class="img-anim">
            <img alt="LD45GhostLifeAnim" src="{{ "/assets/img/projects/LD45GhostLifeSmall-anim.gif" | prepend: site.baseurl }}"/>
        </div>
    </div>
    <div class="contents-right">
      <h3> It's a ghost life </h3>
      <ul>
        <li> Game Jam</li>
        <li> Solo</li>
        <li> Unity Animations</li>
      </ul>
      <p> 
          It's a ghost life is my submission for Ludum Dare 45
          <br>
          <br>
          The theme was "Start with nothing", so in the game you start as a ghost, 
          in order to get around and interact with the world, 
          you need to find body parts to use (legs to jump, arms to hold things),
          of course having those parts present their own challenges 
          (It's hard to go through a solid door with real arms after all).
      </p>
      <a class="project-link" target="_blank" href="https://github.com/Cris-Bwls/ItsAGhostLife">Source Code</a>
      <a class="project-link" target="_blank" href="https://cris-bwls.itch.io/its-a-ghost-life">Game</a>
    </div>
</div>
