<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-details">
  <h2> Ongoing </h2>
</div>
<div class="user-projects">
  <div class="images-right">
      <div class="img-static">
          <img alt="fshzoneSmallStatic" src="{{ "/assets/img/projects/fshzoneSmall-static.png" | prepend: site.baseurl }}"/>
        </div>
      <div class="img-anim">
          <img alt="fshzoneSmallAnim" src="{{ "/assets/img/projects/fshzoneSmall-anim.gif" | prepend: site.baseurl }}"/>
      </div>
  </div>
  <div class="contents">
    <h3> fsh.zone </h3>
    <ul>
      <li> Unity AssetBundles</li>
      <li> SocketIO</li>
      <li> NodeJS</li>
      <li> SQLite</li>
    </ul>
    <p> 
        fsh zone is an online multiplayer fishing game, where you can hang out, catch fish, and chat with friends
        <br>
        <br>
        It consists of a client made in Unity, and a server which is a Node.js application using Socket.IO for communication
        <br>    
        <br>    
        The current version is a continuation of the capstone project at AIE that I worked on, 
        four people from the team (myself included) are a part of this continuation
    </p>
    <a class="project-link" target="_blank" href="https://fsh.zone">Play it online</a>
  </div>
</div>
<div class="user-details">
  <h2> Finished </h2>
</div>
<div class="user-projects">
  <div class="images-left">
        <div class="img-static">
                <img alt="MopedMayhemStatic" src="{{ "/assets/img/projects/MopedMayhemSmall-static.png" | prepend: site.baseurl }}"/>
              </div>
            <div class="img-anim">
                <img alt="MopedMayhemAnim" src="{{ "/assets/img/projects/MopedMayhemSmall-anim.gif" | prepend: site.baseurl }}"/>
            </div>
  </div>
  <div class="contents-right">
    <h3> Moped Mayhem </h3>
    <ul>
      <li> Lead Programmer</li>
      <li> Unity Navigation (navmesh+)</li>
      <li> Unity Physics</li>
      <li> Game AI</li>
    </ul>
    <p>
        Moped Mayhem was the capstone project for my first year at AIE, 
        with 9 people working on the project (3 artists, 3 designers and 3 programmers)
        of which I was the lead programmer
        <br>
        <br> 
            You are a delivery driver who owes a lot of money to the Mafia. 
            But, you're not going to let that get in the way of doing your job! 
            Try to deliver food around the city while avoiding the Mafia in this fast-paced, 
            chaotic action-racing game!
    </p>
    <a class="project-link" target="_blank" href="https://github.com/ChrispyDesign/MopedMayhem">Source Code</a>
    <a class="project-link" target="_blank" href="https://mopedmayhem.itch.io/moped-mayhem">Game</a>
  </div>
</div>
<div class="user-projects">
        <div class="images-right">
            <div class="img-static">
                <img alt="LD45GhostLifeStatic" src="{{ "/assets/img/projects/LD45GhostLifeSmall-static.png" | prepend: site.baseurl }}"/>
              </div>
            <div class="img-anim">
                <img alt="LD45GhostLifeAnim" src="{{ "/assets/img/projects/LD45GhostLifeSmall-anim.gif" | prepend: site.baseurl }}"/>
            </div>
        </div>
        <div class="contents">
          <h3> It's a ghost life </h3>
          <ul>
            <li> Game Jam</li>
            <li> Solo</li>
            <li> Unity Animations</li>
          </ul>
          <p> 
              It's a ghost life is my submission for Ludum Dare 45
              <br>
              <br>
              The theme was "Start with nothing", so in the game you start as a ghost, 
              in order to get around and interact with the world, 
              you need to find body parts to use (legs to jump, arms to hold things),
              of course having those parts present their own challenges 
              (It's hard to go through a solid door with real arms after all)
          </p>
          <a class="project-link" target="_blank" href="https://github.com/Cris-Bwls/ItsAGhostLife">Source Code</a>
          <a class="project-link" target="_blank" href="https://cris-bwls.itch.io/its-a-ghost-life">Game</a>
        </div>
      </div>
